<div class="landing d-flex align-items-center justify-content-center ">

    <div class="text-center text-light">
        <h1>Taste the Creativity</h1>
        <p class="text-white-50 mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <button class="btn btn-primary rounded-pill ">Get Started</button>
    </div>

</div>


<div class="features text-center pt-5 pb-5">
    <div class="container">
    <div class="main-title position-relative">
        <img width="100" class="mb-4" src="../../../../../assets/files/tree.png" alt="">
        <h2>We Are Good At</h2>
        <p class="text-black-50 ">Some Of These Stuff Are</p>
    </div>

    <div class="row">
        <div class="col-md-4 col-sm-6 ">
            <div class="icons position-relative ">
                <i class="position-absolute bottom-0 number fst-normal fw-bolder">1</i>
                <i class="fa fa-pencil position-absolute pencil" aria-hidden="true"></i>
            </div>
            <h3>Graphic Design</h3>
            <p class="text-black-50 ">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae minus sed quasi, tempora dolores
                distinctio quod repellat enim. </p>
        </div>

        <div class="col-md-4 col-sm-6 ">
            <div class="icons position-relative ">
                <i class="position-absolute bottom-0 number fst-normal fw-bolder">2</i>
                <i class="fa fa-pencil position-absolute pencil" aria-hidden="true"></i>
            </div>
            <h3>Graphic Design</h3>
            <p class="text-black-50 ">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae minus sed quasi, tempora dolores
                distinctio quod repellat enim. </p>
        </div>

        <div class="col-md-4 col-sm-6 ">
            <div class="icons position-relative ">
                <i class="position-absolute bottom-0 number fst-normal fw-bolder">3</i>
                <i class="fa fa-pencil position-absolute pencil" aria-hidden="true"></i>
            </div>
            <h3>Graphic Design</h3>
            <p class="text-black-50 ">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae minus sed quasi, tempora dolores
                distinctio quod repellat enim. </p>
        </div>

    </div>
</div>
</div>